:root {
  --PrussianBlue: #1b3a57;
  --Lavender: #d1d9e6;
  --HookersGreen: #506c59;
  --Seasalt: #f8f9fa;
  --Black: #181616;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  border: none;
}

.home {
  background-image: url(assets/bg-2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  backdrop-filter: blur(10px);
  height: 80px;
}

header h1 {
  font-family: "Vollkorn SC", serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

header img {
  width: 60px;
}

.title-home {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  color: var(--Seasalt);
  font-weight: 700;
  width: 280px;
  padding-top: 50px;
  padding-left: 50px;
}

.container-home {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 90px;
}

.home-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 50px;
  background-color: var(--PrussianBlue);
  border-radius: 5px;
  margin-left: 50px;
  position: absolute;
  bottom: 110px;
}

.home-button a {
  color: var(--Seasalt);
  font-size: 12px;
}

.about {
  background-color: var(--HookersGreen);
  height: auto;
  /* padding: 30px; */
}

#seta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title-about {
  padding-top: 30px;
}

.about h2 {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--Seasalt);
  padding-left: 30px;
  padding-right: 30px;
}

.about p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: var(--Seasalt);
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

#seta img {
  width: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
}

ul {
  margin-top: 30px;
  list-style-type: disc;
  list-style-position: inside;
}

ul li {
  color: var(--Seasalt);
  font-size: 12px;
  max-width: 180px;
  padding-left: 30px;
  padding-bottom: 8px;
}

#person {
  width: 150px;
}

.list-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
