:root {
  --PrussianBlue: #1b3a57;
  --Lavender: #d1d9e6;
  --HookersGreen: #506c59;
  --Seasalt: #f8f9fa;
  --Black: #181616;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.home {
  background-image: url(assets/bg-gabriel-almeida.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  backdrop-filter: blur(10px);
  height: 80px;
}

header h1 {
  font-family: "Vollkorn SC", serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.home p {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  color: var(--Seasalt);
  font-weight: 700;
  width: 180px;
}

header img {
  width: 60px;
}

.content-home img {
  width: 200px;
}

.content-home {
  display: flex;
  flex-direction: column;
  gap: 150px;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 30px 30px 0px 30px;
}

.about {
  background-color: var(--HookersGreen);
  height: auto;
  /* padding: 30px; */
}

#seta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title-about {
  padding-top: 30px;
}

.about h2 {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--Seasalt);
  padding-left: 30px;
  padding-right: 30px;
}

.about p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: var(--Seasalt);
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

#seta img {
  width: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
}

ul {
  margin-top: 30px;
}

ul li {
  color: var(--Seasalt);
  font-size: 12px;
  max-width: 180px;
  padding-left: 30px;
}

#person {
  width: 200px;
}

.list-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
